.column {
  display: grid;
  grid-template-columns: repeat(1fr, 7);
  align-items: center;
  width: 90%;
}
.column h2 {
  font-size: 1rem;
  color: black;
  margin: 0;
  padding: 5px;
}
.day-wrapper {
  margin: 3px;
  min-width: 100px;
}
.draggable-area {
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  padding: 15px 10px;
  min-height: 60vh;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .column {
    grid-template-columns: 1fr;
  }
  .day-wrapper {
    margin: 3px;
    width: 100px;
  }
}
