@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Sigmar&display=swap');

/* search bar section */
.search-bar-section {
  height: 60vh;
  background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar-title {
  text-shadow: -2px 2px 2px white;
  font-family: 'Sigmar', cursive;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #047a46;
}
.search-bar-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fdfdfd8a;
  padding: 15px;
}

.input-box {
  width: 90%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  color: #091e42;
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 10px;
  font-size: 1rem;
}
.filters-label {
  margin: 0;
  font-weight: bold;
}

.filters * {
  border-radius: 10px;
}

.filter {
  width: 175px;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-radius: 15px;
  background-color: #047a46;
  padding: 5px 30px;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.btn-submit:hover {
  background-color: #034c2c;
}

.btn-submit:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .search-bar-title {
    font-size: 2rem;
  }
  .search-bar-section form {
    padding: 5px;
  }
  .input-box {
    font-size: 1rem;
  }
  .filters {
    font-size: 0.8rem;
  }
  .filter {
    width: 100px;
  }
  .btn-submit {
    margin: 2px auto;
    border-radius: 15px;
    padding: 4px 15px;
    font-size: 1rem;
  }
}

/* Categories */

.categories {
  /* background-color: #f4f9e7; */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.categories h1 {
  /* text-shadow: -2px 2px 2px rgba(9, 5, 5, 0.6); */
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories a:hover {
  color: white;
}

.popular,
.random {
  width: 100%;
}

.popular-searches,
.random-recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
}

.popular-search,
.random-recipe {
  position: relative;
}

.categories img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.categories h4 {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding: 2px 10px;
  background-color: #fdfdfd8a;
}

.categories a:hover h4 {
  background-color: #047a47b5;
}

@media screen and (max-width: 768px) {
  /* .popular-searches,
  .random-recipes {
    flex-wrap: wrap;
  } */
  .categories img {
    width: 150px;
    height: 150px;
  }
}
