.search-bar-section {
  width: 60%;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: #8993a4;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
}
.search-bar-title {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  font-weight: 600;
  color: #091e42;
}
.search-bar-section form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  border-radius: 10px;
}
.input-box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  color: #091e42;
  margin-bottom: 1rem;
}
.search-bar-section .filter {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.search-bar-section form button {
  border-radius: 10px;
  margin-left: 15px;
  border: 1px solid black;
  background-color: #e6fcff;
  color: #091e42;
}
.filter {
  width: 60%;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: #8993a4;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
}
.filter * {
  border-radius: 10px;
}
