.meal-plan h1 {
  font-family: 'Courgette', cursive;
}

.meal-plan {
  text-align: center;
  margin: 20px auto;
  /* font-size: 1rem; */
  background-color: #9fcec7;
  min-width: 80%;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 5px;
}
