.DND {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 20px;
  font-size: 1rem;
  background-color: #8993a4;
  width: 85%;
  border-radius: 10px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
}
html,
body,
#root {
  height: 100%;
}
​body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column h2 {
  font-size: 1.5rem;
  color: #f5f5f5;
  text-transform: uppercase;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.6);
}
.item-wrapper {
  margin: 8px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
}
.draggable-area {
  padding: 4px;
  width: 115px;
  min-height: 500px;
}
​.item {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  color: white;
}

.recipe {
  position: relative;
}

.hide-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  font-size: 11px;
  font-family: helvetica;
  color: black;
  display: none;
}
.recipe .item:hover .hide-btn {
  display: block;
}
