@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.meal-plan {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 80vh;
  gap: 2px;
  /* font-size: 1rem; */
  background-color: #8993a4;
  width: 90%;
  border-radius: 10px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  padding: 10px;
}
