.DND {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 20px;
  font-size: 1rem;
  background-color: #8993a4;
  width: 85%;
  border-radius: 10px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
}
/* html,
body,
#root {
  height: 100%;
}
​body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
} */
