.myplans-sections {
  width: 80%;
  height: 70vh;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1600');
}
.myplans-sections h1 {
  font-family: 'Courgette', cursive;
}

.card-body {
  background-color: #e6fcff;
  border-radius: 10px;
}
.card-body * {
  color: #4b4f61a9;
}
.card-body * {
  text-decoration: none;
}
.card-body button {
  color: #4b4f61a9;
  background-color: #a6b7ba;
  align-self: center;
  border-radius: 10px;
  margin: 10px auto;
  font-size: 0.8rem;
  border: none;
  box-shadow: 10px 9px 5px -4px rgba(0, 0, 0, 0.75);
}
.add-btn-mealplan button {
  font-size: 0.8rem;
  color: #4b4f61a9;
  background-color: #a6b7ba;
  align-self: center;
  border-radius: 10px;
  margin: 20px auto;
  border: none;
  box-shadow: 10px 9px 5px -4px rgba(0, 0, 0, 0.75);
}
