@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.collapsible .content {
  padding: 6px;
  background-color: #8993a4;
}
.collapsible .header {
  background-color: #8993a4;
  padding: 6px;
  cursor: pointer;
}
.navbar-header {
  padding: 10px;
}
.navbar-header a {
  text-decoration: none;
  color: #091e42;
}
.navbar-header .menu {
  border-radius: 10px;
}
.navbar-header .menu .container {
  border-radius: 10px;
  background-color: #e6fcff;
  border: 1px solid black;
}
.logo {
  background-color: #e6fcff;
  width: 100px;
  height: 10px;
}
.navbar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4b4f61a9;
}
.navbar-header * {
  color: white;
}
.btn-menu {
  background-color: #4b4f61;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.app-name {
  font-family: 'Courgette', cursive;
}
