@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a0cec7;
  padding: 15px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.navbar-wrapper a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
  transition: all 250ms;
}

.navbar-wrapper a.active {
  color: #047a46;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navbar-wrapper a:hover {
  color: #047a46;
}

.logo {
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 3rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me-auto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
}

.logged-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-signup a {
  padding: 0 7px;
}

.login-signup span {
  color: white;
}

.navbar-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #047a46;
  color: white;
  font-size: 0.75rem;
  border: 1px solid #047a46;
  transition: all 250ms;
}

.navbar-wrapper button:hover {
  background-color: #034c2c;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  .navbar-wrapper {
    padding: 10px 20px;
  }
  .me-auto {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .menu {
    background-color: #6eb4a9;
    border-radius: 15px;
    border: 2px solid #034c2c;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navbar-wrapper a.active {
    text-decoration: none;
  }

  .logged-in a,
  .login-signup a {
    border-bottom: 1.5px solid #034c2c;
    width: 100%;
    padding: 2px 0;
  }

  .logged-in a:first-child,
  .login-signup a:first-child {
    border-top: 1.5px solid #034c2c;
  }

  .logged-in a:last-child,
  .login-signup a:last-child {
    border: 0;
  }

  .home {
    text-align: center;
    margin-bottom: 3px;
  }

  .login-signup,
  .logged-in {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .login-signup span {
    display: none;
  }
}
