.details-content {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.details-content p {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .details-content {
    flex-direction: column;
    gap: 20px;
  }
}

/* image */
.img-container {
  width: 500px;
  height: 400px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .img-container {
    width: 100%;
    height: 300px;
  }
}

/* content */
.content-container {
  width: 80%;
  list-style: none;
  background-color: #e6fcff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.servings-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type {
  display: flex;
  justify-content: space-between;
}

.health-labels {
  margin-bottom: 10px;
}

.ingredient {
  cursor: pointer;
}

.crossed-out {
  text-decoration: line-through;
  opacity: 60%;
}

.instructions {
  margin: 0 auto;
}

.instructions a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
  .type {
    flex-direction: column;
  }
}

/* add recipe buttons */

.add-btn {
  margin: 10px auto;
}

.add-btn button {
  width: fit-content;
  background-color: #9fcec7;
  border: 2px solid #9fcec7;
  color: #091e42;
}

.details-content .added-recipe button,
.details-content .instructions button {
  background-color: #9fcec7;
  border: 2px solid #9fcec7;
  color: #091e42;
  margin: 10px 15px;
}

.add-btn button:hover,
.added-recipe-btns button:hover,
.instructions button:hover {
  background-color: #9fcec7;
  border: 2px solid #047a46;
  color: #091e42;
}
span {
  color: #091e42;
}
