.results-section header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.results-section * {
  color: #091e42;
}

.results-section header {
  background-color: #eae6ff;
  padding: 5px 10px;
  border: 1px solid black;
}
.results-section header h1 {
  font-size: 1.7rem;
  margin: 0;
}

.results-section header div button {
  border-radius: 10px;
}

.results-section .display-list {
  display: flex;
  flex-direction: column;
}

.results-section .display-title {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.results-section .display-title li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.results-section .display-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.results-section .display-title li a {
  text-align: center;
}

.results-section .display-list,
.results-section .display-title {
  background-color: #8993a4;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.results-section .display-list li,
.results-section .display-title li {
  margin: 10px auto;
  width: 80%;
  list-style: none;
  background-color: #e6fcff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
}

.display-list li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.display-list li button,
.display-title li button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #eae6ff;
  color: #091e42;
}
.display-list li a div {
  width: 100px;
  height: 1-0px;
  overflow: hidden;
  border-radius: 10px;
}
.display-list li a div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.display-title li a footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display-list li a footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.display-list li a footer h2,
.display-title li a footer h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.display-list li a footer span,
.display-title li a footer span {
  font-size: 0.8rem;
}
.results-section nav {
  width: 80%;
  margin: 0 auto;
  background-color: #8993a4;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.results-section nav ul {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.message-added {
  font-size: 0.7rem;
  margin: 5px;
}

.display-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
