.profile-info {
  width: 70%;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: #9fcec7;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
}

.username {
  font-weight: bold;
  font-family: 'Courgette', cursive;
}

.img-wrapper {
  width: 400px;
}

.img-wrapper > * {
  margin: 0 auto;
}

.edit-profile {
  width: 70%;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: #9fcec7;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
}

/* button {
  margin: 1px auto;
  border-radius: 15px;
  background-color: #047a46;
  padding: 5px 10px;
  color: white;
  font-size: 0.9rem;
  border: 0;
  transition: all 250ms;
} */
